/Java/Leccion1/HolaMundo/nbproject/private/
/Java/Leccion1/HolaMundo/build/
# Default ignored files
/Python/pythonProject/.idea/workspace.xml
/Java/Ejercicio libreria/JavaApplication5ejercicio libros/nbproject/private/
/Java/Ejercicio libreria/JavaApplication5ejercicio libros/build/
/Java/Ejercicio libreria/Leccion2/nbproject/private/
/Java/Ejercicio libreria/Leccion2/build/
/Java/Ejercicio libreria/CondionalEjercicio_1/nbproject/private/
/Java/Ejercicio libreria/CondionalEjercicio_1/build/
/Java/Ejercicio libreria/CondicionalEjercicio_2/nbproject/private/
/Java/Ejercicio libreria/CondicionalEjercicio_2/build/
/Java/Ejercicio libreria/JavaApplication9/nbproject/private/
/Java/Ejercicio libreria/JavaApplication9/build/
/Java/Ejercicio libreria/Ejercicio4/nbproject/private/
/Java/Ejercicio5/nbproject/private/
/Java/Ejercicio6/nbproject/private/
/Java/Ejercicio7/nbproject/private/
